.historicalDataContainer{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 40px;
}

.selectBtn{
    border:1px solid white;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat";
    cursor: pointer;
    width: 22%;
    font-weight: 600;
    transition: all 0.5s;
    font-weight: 400;
}

.selectBtn:hover{
    background-color: rgb(20,22,26);
    color: white;
}

@media screen and (max-width:600px) {
    .historicalDataContainer{
        width: 100%;
        margin-top: 0;
        padding: 20px;
        padding-top: 0;
    }
}